/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  

/*******************************************
/*  LAYOUT
/*******************************************/

body {
    
}

nav,ul {
    display: flex;
}

nav,ul,li,a {
    justify-content: space-around;
    flex-basis: 30%;
    color: maroon;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.2rem;
}


.intro {
    width: 100%;
    height: 650px;
    /* border: 1px solid black; */
    background-image: url(images/asas-02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 650px;
    background-position: center;
    /* background-blend-mode: overlay; */
    /* opacity: 0.7; */
    background-color: #9b3c3c;
}

/* .wrapper {
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
} */

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: -100px 15% 0 15%;
    width: 70%;
}



/* section > img {
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
} */

.column {
    flex: 1;
    border: 1px solid #666;
    margin: 2px;
    padding: 10px;
    background: turquoise;
    height: 250px;
}

.column:first-child {
    margin-left: 0;
    background: #ff307f;
}

.column:last-child {
    margin-left: 0;
    background: #7f95d1;
}

.third-section {
    height: 500px;
    background-color: #F1F1F1;
    align-content: center;
    
}
.third-section-divs {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 10% 0 10%;
    width: 80%;
   
}

.third-section-divs > div {
    height: 300px;
    background-color: white;
    margin: 3px;
    padding: 10px;
    flex: 1;
}

.fourth-section {
        height: 500px;
        background-color: white;
        display: flex;
        margin: 10px 10% 0 10%;
        width: 80%;   
}

.fourth-section > div:first-child {
    width: 40%;
}
.fourth-section > div:last-child {
    width: 60%;
}
.fourth-section > div > img {
    width: 100%;
    height:100%;
    object-fit: cover;
}
.check-list {
    list-style-image: url('/images/select_check_box.png');
    display: inline-block;
    margin: 0 5px;
}

.fifth-section {
    height: 700px;
    background-color: #F1F1F1;
    text-align: center;
    padding: 15px;
}

.fifth-section > section {
    display: flex;
    margin: 75px 10% 0 10%;
    width: 80%;
}

.fifth-section div {
    height: 500px;
    width: 60%;
    background-color: white;
    margin: 10px;
    padding: 30px;
}

footer {
    background-color: #4EB980;
}
.row{
    display: flex;
    width: 60%;
    margin: 35px 20% 0 20%;

}
.row-1 {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    background-color: #4EB980;
    outline: 1px solid white;
    border: none;
    padding: 5px;
}

.row-2 {
    width: 60%;
    margin: 15px 20% 0 20%;
    border-radius: 10px;
    background-color: #4EB980;
    outline: 1px solid white;
    border: none;
    padding: 5px;
}
.row-3 {
    width: 20%;
    margin: 10px 40% 0 40%;
    border-radius: 10px;
    height: 30px;
    background-color: white;
    outline: 1px solid white;
    border: none;
    padding: 5px;
    color: #4EB980;
}